/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

/smartdashboard/metabase.jar
/smartdashboard/plugins

# =========================
# Python
# =========================

# Virtual Environment
/venv
/.venv

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
python/.env
.env.python

# Testing cache
.pytest_cache/
.coverage

# Output hasil generate
/output

# Model besar (optional)
*.pt
*.pth
*.h5
*.onnx

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db